data/
memo.txt
logs/
__pycache__
test.sh
test_augment_all.sh
prep_elastic.sh
data_aug/
offline/
output/
data_qce/
checkpoints_qce/
output_qce/
ensure_elasticsearch.sh
test2.sh
test3.sh
run*.sh
!run_qce*.sh
case.json
eval*.md
eval*.tsv
